//
// variables
// --------------------------------------------------

:root {
  // Typo

  --font-base: "Barlow", sans-serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --font-bellfair: "Bellefair", serif;

  // Colors
  --color-text: #d0d6f9;
  --color-white: #fff;
  --color-black: #0b0d17;
}
