.footer {
  padding-top: space(12);
  padding-bottom: space(12);
  background: var(--color-grey);
}
.footer .cols {
  display: flex;
  flex-direction: column;
}
.footer .cols .col {
  margin-bottom: space(4);
}
.footer .col .col-title {
  color: var(--color-brand);
  margin-bottom: space(3);
  @include font-size(2.4);
  font-weight: 400;
  font-family: var(--font-title);
}
.footer .identity .text {
  line-height: 1.8;
  @include font-size(1.4);
  margin-bottom: space(4);
}
.footer .identity .social {
  display: flex;
}
.footer .identity .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--color-pink);
  border-radius: 50%;
}
.footer .identity .social li + li {
  margin-left: space(2);
}
.footer .identity .social a svg {
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  fill: currentColor;
}
.footer .address,
.footer .tel,
.footer .mail {
  display: flex;
  align-items: center;
  margin-bottom: space(2);

  &::before {
    font-family: "Material Icons";
    margin-right: space(1);
    @include font-size(2);
    color: var(--color-brand);
  }
}
.footer .address {
  align-items: flex-start;
}
.footer .address:before {
  content: '\e0c8';
}
.footer .tel:before {
  content: '\e0cd';
}
.footer .mail:before {
  content: '\f187';
}

@include up(769) {
  .footer .cols {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .cols .col {
    width: calc(25% - 16px);
  }
}